/* app.css */
.admin-layout {
  display: flex;
}

.sidebar {
  width: 25vw;
  height: 100vh;
  overflow-y: auto;
  background: #f4f4f4;
  padding: 1rem;
}

.map-container {
  width: 75vw;
  height: 100vh;
}

.card {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.input-field {
  width: 100%;
  margin-bottom: 0.25rem;
}

.image-preview {
  width: 100%;
  margin-top: 0.5rem;
}
